body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    background-color: #450707;
    color: #2484a1;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: #ffffffd2;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

h2 {
    color: #fffdfd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #8f2a2a;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}


